# Environnement virtuel
venv/
env/

# Python
*.pyc
*.pyo
*/__pycache__/

# Django
db.sqlite3
*.log
media/

# Variables d'environnement
.env
.env.*

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db
