{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Login{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/login_view.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="bg-shape shape-blue"></div>
    <div class="bg-shape shape-green"></div>

    <header class="header">
        <div class="logo"></div>
        <img src="{% static 'images/eneo_new_logo.png' %}" alt="eneo_logo" />
        P.M.S.E
    </header>

    <main class="main">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
                <div class="title-underliner"></div>
            </div>

            <p>S'il vous plaît, veuillez saisir vos infos de connexion</p>

           
            {% if messages %}
                <div class="error-container">
                    {% for message in messages %}
                        <div class="error-message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" id="login-form" novalidate>
                {% csrf_token %}

                <label>Utilisateur</label>
                <input type="text" name="username" placeholder="john.doe" required />

                <label>Mot de passe</label>
                <input type="password" name="password" placeholder="*****" required />

                <div class="options">
                    <div class="checkbox">
                        <input type="checkbox" />
                        <span>Keep me sign in</span>
                    </div>
                </div>

                <div class="btn-container">
                    <button type="submit" id="submit-button">Login</button>

                    <div class="loader-section" id="loader-section" style="display:none;">
                        <span class="loader" id="loader"></span>
                    </div> 
                </div>
            </form>
        </div>
    </main>

    <footer class="footer">
        <span>© Made with passion for <span class="design-by">Eneo Team</span></span>
        <span>Design by <span class="design-by">Wolfgang</span></span>
    </footer>

    <script>
        const form = document.getElementById('login-form');
        const loader = document.getElementById('loader');
        const loaderContainer = document.getElementById('loader-section');
        const submitButton = document.getElementById('submit-button');

        form.addEventListener('submit', function() {
            submitButton.disabled = true;
            loaderContainer.style.display = 'flex';
            loader.style.display = 'inline-block';
            submitButton.style.display = 'none';
        });
    </script>

</body>
</html>


