{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}
Plannings
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static  'css/planning_view.css' %}">
<div>

    <div class="btn-table-container">
        <button id="openUserModalBtn">
            <span class="material-symbols-outlined">add_task</span>Ajouter un planning
        </button>
    </div>

    <h3>Liste des Plannings</h3>

    <div class="plann_card">
        <div class="table-responsive">
            <table id="plan-table" class="display nowrap">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Référence</th>
                        <th>Type D'activité</th>
                        <th>Jour Début Plan.</th>
                        <th>Jour Début Effec.</th>
                        <th>Durée Plan.</th>
                        <th>Jour Fin Plan.</th>
                        <th>Observation</th>
                        <th>Statut Travaux</th>
                        <th>Prob. rencontré</th>
                        <th>Statut Prob.</th>
                        <th>Travail en Align.</th>
                        <th>Date Report Trav.</th>
                        <th>Crée Par</th>
                        <th>Date D'ajout</th>
                        <th>Modifié par</th>
                        <th>Date Modif.</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


    {% comment %} Modal to confirm user activate or deactivate {% endcomment %}
    <div id="confirmModal" class="modal" style="display:none;">
        <div class="modal-content">
            <h3 id="confirmModalTitle">Confirmation</h3>
            <p id="confirmModalMessage">Voulez-vous continuer ?</p>

            <div class="confirm-buttons">
                <button id="confirmYes" class="btn-confirm">Confirmer</button>
                <button id="confirmNo" class="btn-cancel">Annuler</button>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        // Initialize DataTable
        let table = $('#plan-table').DataTable({
            ajax: "{% url 'planning:planning' %}",
            ordering: true,
            paging: true,
            searching: true,
            scrollX: true,
            autoWidth: false,
            order: [[1, "desc"]],
            columns: [
                { data: "titre" },
                { data: "reference" },
                { data: "type_activite" },
                { data: "jour_debut_planifie" },
                { data: "jour_debut_effectif" },
                { data: "duree_planifiee" },
                { data: "jour_fin_planifie" },
                { data: "observation" },
                { data: "statut_travaux" },
                { data: "statut_probleme" },
                { data: "probleme_rencontre" },
                { data: "travail_en_alignement" },
                { data: "date_report_travaux" },
                { data: "cree_par" },
                { data: "date_creation" },
                { data: "modifie_par" },
                { data: "date_modification" },

            ]
        });

        let pendingToggleBtn = null;
        $('#ref-table').on('click', '.btn-toggle-status', function () {
            const btn = $(this);
            const isActif = btn.data('actif');
            pendingToggleBtn = btn;

            const actionText = (isActif === true || isActif === "true") ? "désactiver" : "activer";
            $('#confirmModalTitle').text('Confirmation');
            $('#confirmModalMessage').text(`Voulez-vous vraiment ${actionText} cette référence ?`);
            $('#confirmModal').fadeIn();
        });

        $('#confirmYes').on('click', function () {
            $('#confirmModal').fadeOut();
            toggleUser(pendingToggleBtn);
            pendingToggleBtn = null;
        });

        $('#confirmNo').on('click', function () {
            pendingToggleBtn = null;
            $('#confirmModal').fadeOut();
        });

        function toggleUser(btn) {
            const refId = btn.data('id');
            const row = table.row(btn.closest('tr'));
            $.ajax({
                url: `/referentiel/ref/${refId}/toggle-status/`,
                type: "POST",
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                success: function (res) {
                    const rowData = row.data();
                    rowData.statut = res.statut_html;
                    rowData.actions = res.actions_html;
                    row.data(rowData).invalidate().draw(false);
                    // Optional: animate status button
                    $(row.node()).addClass('row-updated');
                    setTimeout(() => { $(row.node()).removeClass('row-updated'); }, 2000);
                }
            });
        }

    });

</script>

{% endblock %}