{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Définir mot de passe - PMSE</title>
    <link rel="stylesheet" href="{% static 'css/set_password.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <!-- Background Shapes -->
    <div class="sp-bg-shape sp-shape-blue"></div>
    <div class="sp-bg-shape sp-shape-green"></div>

    <!-- Header -->
    <header class="sp-header">
        <img src="{% static 'images/eneo_new_logo.png' %}" alt="P.M.S.E Logo">
        P.M.S.E
    </header>

    <div class="sp-main">
        <div class="sp-card">

            <div class="sp-card-header">
                <h2>Définir un nouveau mot de passe</h2>
                <div class="title-underliner"></div>
            </div>
            <p>Première connexion - Veuillez sécuriser votre compte</p>

            {% if messages %}
            <div class="sp-error-container">
                {% for message in messages %}
                <div class="sp-alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="POST" id="reset-form">
                {% csrf_token %}

                <div class="sp-form-group">
                    <label for="new_password">Nouveau mot de passe</label>
                    <input type="password" id="new_password" name="new_password" required
                        placeholder="Entrez le mot de passe">
                </div>

                <div class="sp-form-group">
                    <label for="confirm_password">Confirmer le mot de passe</label>
                    <input type="password" id="confirm_password" name="confirm_password" required
                        placeholder="Confirmez le mot de passe">
                </div>

                <div class="sp-btn-container">
                    <button type="submit" class="sp-btn" id="submit-button">Enregistrer et
                        continuer</button>

                    <div class="loader-section" id="loader-section" style="display:none;">
                        <span class=" loader" id="loader"></span>
                    </div>
                </div>

                <!-- <div class="sp-btn-container">
                    <button type="submit" class="sp-btn">
                        Enregistrer et continuer
                    </button>
                </div> -->
            </form>
        </div>
    </div>

    <footer class="footer">
        <span>© Made with passion for <span class="design-by">Eneo Team</span></span>
        <span>Design by <span class="design-by">Wolfgang</span></span>
    </footer>
    <!-- <div class="sp-footer">
        <div>&copy; Made with passion for Eneo Team</div>
        <div class="design-by">Design by Wolfgang</div>
    </div> -->


    <script>
        const form = document.getElementById('reset-form');
        const loader = document.getElementById('loader');
        const loaderContainer = document.getElementById('loader-section');
        const submitButton = document.getElementById('submit-button');

        form.addEventListener('submit', function () {
            submitButton.disabled = true;
            loaderContainer.style.display = 'flex';
            loader.style.display = 'inline-block';
            submitButton.style.display = 'none';
        });
    </script>

</body>

</html>